################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/TestConsole_G01/.vs/TestConsole_G01/v17/Browse.VC.opendb
